---
title: SIG Boba

banner:
  alt: "SIG Boba Logo: Phippy & Goldie excited about Bubble Tea & Ramen"
  image: /img/sig-boba-friends.jpg
  hosted_url: https://sig-boba.github.io/img/sig-boba-friends.jpg
---

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  meta(name='twitter:card' content='summary')
  meta(name='twitter:title' content='SIG Boba')
  meta(name='twitter:description' content='The fun & safe cloud-native party 🧋🎉')
  meta(name='twitter:image' content=banner.hosted_url)
  meta(name='twitter:image:alt' content=banner.alt)
  meta(name='twitter:site' content='@capileigh')

  link(rel='stylesheet' href='https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  title #{title}
  
  script(src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer)

body
  #all
    #main
      nav
        ul
          li
            a(href="/" aria-current=page.url=="/"?"page":undefined) SIG Boba
          li
            a(href="/events/" aria-current=page.url=="/events/"?"page":undefined) Events
          li.right
              a(href="https://cloud-native.slack.com/archives/C052LL415LP/")
                img.social(alt="slack" src="https://img.icons8.com/ios/512/slack.png")
          li.right
              a(href="https://twitter.com/sigboba")
                img.social(alt="twitter" src="https://img.icons8.com/ios/512/twitter.png")
          li.right
              a(href="https://bsky.app/profile/sig-boba.github.io")
                img.social(alt="linkedin" src="https://img.icons8.com/ios/512/butterfly.png")
          li.right
              a(href="https://github.com/sig-boba/sig-boba.github.io")
                img.social(alt="github" src="https://img.icons8.com/ios/512/github.png")
      
      img#banner(src=banner.image alt=banner.alt)
      #content.
        !{content}
    footer
      p#copyright
        small © Copyright #{helpers.currentYear()} SIG Boba

style(type="text/css")
  include _style.css
